<template>
	<span>
		{{ t }}
	</span>
</template>

<script>
import moment from "moment";

export default {
  name: "date-column",
  props: ["value"],
  computed: {
    t() {
      if (!this.value || this.value === "") {
        return "-";
      }
      const t = moment(this.value);
      return t.format("DD/MM/YYYY");
    }
  }
};
</script>
