<template>
	<span>
		{{ t }}
	</span>
</template>

<script>
import numeral from "numeral";

export default {
  name: "number-column",
  props: ["value"],
  computed: {
    t() {
      if (!this.value || this.value === "") {
        return "0";
      }

      const t = numeral(this.value);
      if (t === "NaN") {
        return "0";
      }
      return t.format("0,0");
    }
  }
};
</script>
