<template>
  <span>
    <i :class="faClass" :style="{ color: iconColor }" aria-hidden="true"></i>
  </span>
</template>

<script>
export default {
  name: "register-status-column",
  props: ["value"],
  computed: {
    faClass() {
      return this.value === 2 ? 'fa fa-check-circle' : 'fa fa-circle'
    },
    iconColor() {
      switch(this.value) {
        case 2:
          return '#3ea502';
        case 1:
          return '#a0a502';
        default:
          return '#ce6c6c';
      }
    }
  }
};
</script>
