<template>
  <div>
    <Header />

    <div class="container page-container">
      <div class="admin-header">
        <div class="row">
          <div class="col">
            <img src="/imgs/goalclass.png" class="goalclass-logo" />
            <h4 class="admin-list-title">{{ formTitle }}</h4>
          </div>
          <div class="col header-button-container">
            <button type="button" class="btn btn-outline-primary" @click="onClickBack">กลับไป</button>
            <button type="button" class="btn btn-outline-primary" @click="onClickSubmit">บันทึก</button>
          </div>
        </div>
      </div>

      <form class="form" autocomplete="false" novalidate>
        <div class="form-row">
          <div class="form-group col-lg-6">
            <label>บทเรียน</label>
            <input class="form-control" name="title" v-model="form.title" />
            <div class="alias-container">
              {{ aliasURL }}
              <button type="button" class="btn btn-outline-primary btn-clipboard" v-clipboard:copy="aliasURL">
                <span>คัดลอก</span><i class="fa fa-clipboard" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-check form-check-status">
              <input type="checkbox" class="form-check-input" id="checkboxStatus" name="status" :true-value="1" :false-value="0" v-model="form.status" />
              <label class="form-check-label" id="checkboxStatus">เปิดใช้งาน</label>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-lg-6">
            <label>Youtube URL</label>
            <input class="form-control" name="youtube_url" v-model="form.youtube_url" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-lg-6">
            <label>การบ้าน/ข้อความกำกับ</label>
            <vue-editor name="description" v-model="form.description" :editorToolbar="editorToolbar"></vue-editor>
          </div>
        </div>

        <div class="row form-action-bottom">
          <div class="col">
            <button class="btn btn-outline-primary btn-block" type="button" @click="onClickBack">กลับไป</button>
          </div>
          <div class="col">
            <button class="btn btn-outline-primary btn-block" type="button" @click="onClickSubmit">บันทึก</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { mapActions } from "vuex";
import store from "../../store";
import swal from "sweetalert2";
import { VueEditor } from "vue2-editor";

import { getAsync } from "../../utils";
import { Header } from "../../components";

export default {
  data:() => ({
    id: null,
    form: {
      title: '',
      alias: '',
      status: 0,
      youtube_url: '',
      description: ''
    },
    editorToolbar: [
      ['bold', 'italic', 'underline', 'strike'],
      [{ 'list': 'ordered'}, { 'list': 'bullet' }]
    ]
  }),
  computed: {
    formTitle() {
      return (this.id) ? 'แก้ไขบทเรียน':'เพิ่มบทเรียน';
    },
    aliasURL() {
      return `${window.BaseURL}/lesson/${this.form.alias}`
    }
  },
  methods: {
    ...mapActions(['showLoading']),
    onClickBack() {
      this.$router.replace('/lessons')
    },
    onClickSubmit: async function() {
      if (this.form.title.trim().length === 0) {
        swal({
          title: 'กรุณาใส่ชื่อบทเรียน',
          type: 'error'
        })
        return;
      }
      this.showLoading(true);
      const data = this.form;
      if (this.id) {
        let { result: updateResult, error: updateError } = await getAsync(axios.patch(`/lessons/${this.id}`, data))
        this.showLoading(false);
        if (updateError || updateResult.data.success === 0) {
          swal({
            title: 'ไม่สามารถบันทึกข้อมูลที่แก้ไขได้',
            type: 'error'
          }).then(() => {
            this.$router.replace({ path: `/lessons` });
          });
        } else {
          swal({
            title: 'ทำการบันทึกข้อมูลเสร็จเรียบร้อยแล้ว',
            type: 'success'
          }).then(() => {
            this.$router.replace({ path: `/lessons` });
          });
        }
      } else {
        let { result: addResult, error: addError } = await getAsync(axios.post(`/lessons`, data))
        this.showLoading(false);
        if (addError || addResult.data.success === 0) {
          swal({
            title: 'ไม่สามารถบันทึกข้อมูลได้',
            type: 'error'
          })
        } else {
          const newAlias = addResult.data.alias;
          this.id = addResult.data.id;
          if (newAlias !== this.form.alias) {
            swal({
              title: 'ทำการบันทึกข้อมูลเสร็จเรียบร้อยแล้ว ',
              text: 'เนื่องจาก URL เดิมได้ถูกใช้ไปแล้ว กรุณาคัดลอก URL ใหม่อีกครั้ง',
              type: 'success'
            }).then(() => {
              this.$router.replace({ name: 'LessonEdit', params: { alias: newAlias }});
            })
          } else {
            swal({
              title: 'ทำการบันทึกข้อมูลเสร็จเรียบร้อยแล้ว',
              type: 'success'
            }).then(() => {
              this.$router.replace({ name: 'LessonEdit', params: { alias: newAlias }});
            })
          }
        }
      }
    }
  },
  beforeRouteEnter: async (to, from, next) => {
    if (to.name === 'LessonEdit') {
      let {result: getLessonResult, error: getLessonError} = await getAsync(axios.get(`/lessons/${to.params.alias}/all`));
      if (getLessonError || getLessonResult.data.success === 0) {
        next('/404');
        return;
      }
      const lessonData = getLessonResult.data.data;
      next(vm => {
        vm.id = lessonData.id;
        vm.form.title = lessonData.title;
        vm.form.alias = lessonData.alias;
        vm.form.status = lessonData.status;
        vm.form.youtube_url = lessonData.youtube_url;
        vm.form.description = lessonData.description;
      });
    } else {
      let {result: getLessonAliasResult, error: getLessonAliasError} = await getAsync(axios.get(`/lessons/alias`));
      if (getLessonAliasError || getLessonAliasResult.data.success === 0) {
        swal({
          title: 'เกิดข้อผิดพลาด ไม่สามารถสร้าง URL ของบทเรียนได้',
          type: 'error'
        });
        next('/lessons');
        return;
      }

      next(vm => {
        vm.form.alias = getLessonAliasResult.data.data;
      });
    }
  },
  components: {
    Header,
    VueEditor
  }
}
</script>
