<template>
    <b-navbar class="header">
        <div class="container">
            <b-navbar-brand>
                <img src="/imgs/header-logo.png" />
            </b-navbar-brand>

            <b-navbar-nav class="ml-auto">
                <b-nav-item-dropdown right class="user-data">
                    <template slot="button-content">
                        <img :src="fbUserImageData" class="rounded-circle user-image" />

                        <template>
                            <span v-if="(userData) && userData.user_type === 1">โค้ช{{ fbUserName }}</span>
                            <span v-else>{{ fbUserName }}</span>
                        </template>
                    </template>
                    <b-dropdown-item v-if="(userData) && userData.user_type === 1" @click="onClickMenu('studentlist', $event)">รายชื่อนักเรียน</b-dropdown-item>
                    <b-dropdown-item v-if="(userData) && userData.user_type === 1" @click="onClickMenu('lessonlist', $event)">รายการบทเรียน</b-dropdown-item>
                    <b-dropdown-item v-if="(userData) && userData.user_type === 1" @click="onClickMenu('eventlist', $event)">รายชื่อผู้เข้าร่วมกิจกรรม</b-dropdown-item>
                    <b-dropdown-item v-if="(userData) && userData.user_type === 1" @click="onClickMenu('setting', $event)">ตั้งค่า</b-dropdown-item>
                    <b-dropdown-item @click="onClickLogout">ออกจากระบบ</b-dropdown-item>
                </b-nav-item-dropdown>
            </b-navbar-nav>
        </div>
    </b-navbar>
</template>

<script>
import { mapGetters } from "vuex";
import store from "../store";

export default {
  name: "Header",
  computed: {
    ...mapGetters({
      fbUserName: "fbUserName",
      fbUserImageData: "fbUserImageData"
    }),
    userData() {
      return store.state.users.userData;
    }
  },
  methods: {
    onClickMenu(menuName, e) {
      e.preventDefault();
      switch (menuName) {
        case 'studentlist':
          this.$router.push({ name: "StudentList" });
          break;
        case 'lessonlist':
          this.$router.push({ name: "LessonList" });
          break;
        case 'eventlist':
          this.$router.push({ name: "EventList" });
          break;
        case 'setting':
          this.$router.push({ name: "SettingForm" });
          break;
        default:
          break;
      }
    },
    onClickLogout() {
      this.$store.dispatch("setUserData", null);
      window.entryUser = null;
      FB.logout(response => {
        this.$router.replace({ name: "Landing" });
      });
    }
  }
};
</script>
