<template>
    <div class="comment-item">
        <div class="comment-item-header">
            <h4 class="lesson-title" v-if="comment">{{ comment.lesson_title }}</h4>
        </div>
        <div class="comment-item-body">
            <div class="comment-user-image-container">
                <img :src="comment.profile_image" :class="{ 'comment-user-image': true, 'admin': comment.user_type === 1 }"  />
            </div>
            <div class="comment-content">
                <p class="content" v-html="comment.content"></p>
                <div class="comment-time">{{ formatDateTime(comment.created_at) }}</div>

                <div class="answer-list" v-if="answers.length > 0">
                    <div class="load-more-answers" v-if="hasLoadMoreAnswers">
                        <a @click="loadAllAnswer()"><img src="/imgs/reply.png" /><span>ดูการตอบทั้งหมด</span></a>
                    </div>

                    <div class="answer-item" v-for="answer in answers" :key="answer.id">
                        <div class="comment-user-image-container">
                            <img :src="answer.profile_image" :class="{ 'comment-user-image': true, 'admin': answer.user_type === 1 }"  />
                        </div>
                        <div class="comment-content">
                            <p class="content" v-html="answer.content"></p>
                            <div class="comment-time">{{ formatDateTime(answer.created_at) }}</div>
                        </div>
                    </div>
                </div>

                <div class="answer-form">
                    <div class="answer-user-image-container">
                        <img :src="userData.profile_image" :class="{ 'comment-user-image': true }"  />
                    </div>
                    <textarea-autosize
                        v-model="newComment"
                        rows="1"
                        :min-height="40"
                        placeholder="เขียนข้อความตอบกลับ"
                    >
                    </textarea-autosize>

                    <button class="btn answer-submit" @click="onSubmitAnswer()">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import { mapActions } from 'vuex'
import { getAsync } from "../utils";
import * as moment from "moment";
import _ from "lodash";

export default {
  props: {
    ownerUserId: {
      type: String,
      default: ""
    },
    comment: {
      type: Object,
      default: () => {
        return {};
      }
    },
    userData: {
      type: Object,
      default: () => {
        return {};
      }
    }
  },
  data: () => {
    return {
      newComment: "",
      hasLoadMoreAnswers: false,
      answers: []
    };
  },
  computed: {
    ownerCommentUserImage() {
      if (!this.comment.profile_image) return "";
      return this.comment.profile_image;
    }
  },
  methods: {
    ...mapActions(['showLoading']),
    formatDateTime(value) {
      if (value === "") return "";
      return moment(value, "YYYY-MM-DD HH:mm:ss").format("DD/MM/YYYY HH:mm");
    },
    onSubmitAnswer: async function() {
      if (this.newComment.trim().length > 0) {
        this.showLoading(true);
        const commentData = {
          lesson_id: this.comment.lesson_id,
          user_id: this.ownerUserId,
          comment_user_id: this.userData.id,
          parent_id: this.comment.id,
          content: this.newComment.replace(/\r?\n/g, "<br />").trim()
        };
        let {
          result: newCommentResult,
          error: newCommentError
        } = await getAsync(axios.post("/comments", commentData));

        this.showLoading(false);
        if (newCommentError) {
          swal({
            title: "ไม่สามารถเขียนข้อความได้ในขณะนี้ กรุณาลองใหม่อีกครั้ง",
            type: "error"
          });
          return;
        }

        this.newComment = "";
        this.answers.push(newCommentResult.data.data);
      }
    },
    loadAllAnswer: async function() {
      this.showLoading(true);
      let { result: getAnswerResult, error: getAnswerError } = await getAsync(
        axios.get(`/comments/${this.comment.id}`)
      );
      this.showLoading(false);
      if (getAnswerError) {
        swal({
          title: "ไม่สามารถดึงการตอบทั้งหมดได้ในขณะนี้ กรุณาลองใหม่อีกครั้ง",
          type: "error"
        });
        return;
      }

      this.answers = getAnswerResult.data.data;
      this.hasLoadMoreAnswers = false;
    }
  },
  mounted() {
    this.answers = _.clone(this.comment.answers);
    this.hasLoadMoreAnswers = this.comment.more_answers;
  }
};
</script>

