<template>
    <div class="comment-block">
        <div class="comment-list" v-if="comments && comments.length > 0">
            <div class="load-more-link" v-if="remainCommentCount > 0">
                <a @click="loadComment()">ดูข้อความก่อนหน้า ({{ remainCommentCount }}) ข้อความ</a>
            </div>

            <lesson-comment-item
                v-for="comment in comments"
                :key="comment.id"
                :owner-user-id="ownerUserId"
                :comment="comment"
                :user-data="userData">
            </lesson-comment-item>
        </div>

        <div class="comment-form">
            <div class="comment-input-container">
                <div class="user-image-container">
                    <img :src="userImage" class="comment-user-image" />
                </div>
                <textarea-autosize
                    ref="textareaPost"
                    v-model="newPostText"
                    placeholder="เขียนข้อความของคุณ"
                    rows="1"
                    :min-height="40"
                >
                </textarea-autosize>
            </div>
            <div class="comment-submit-container">
                <button class="btn" @click="postNewComment()">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    <span>โพสต์</span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import LessonCommentItem from "./LessonCommentItem";

import axios from "axios";
import { mapActions } from 'vuex'
import { getAsync } from "../utils";
import swal from "sweetalert2";
import _ from "lodash";

export default {
  name: "LessonContent",
  props: {
    ownerUserId: {
      type: String
    },
    lessonData: {
      type: Object
    },
    userData: {
      type: Object
    }
  },
  data() {
    return {
      newPostText: "",
      remainCommentCount: 0,
      comments: []
    };
  },
  computed: {
    userImage() {
      if (!this.userData.profile_image) return "";
      return this.userData.profile_image;
    }
  },
  methods: {
    ...mapActions(['showLoading']),
    setFocusCommentInput() {
      this.$refs.textareaPost.$el.focus();
    },
    loadComment: async function() {
      const lastCommentID = this.comments.length ? this.comments[0].id : 0;
      this.showLoading(true);
      let {
        result: loadCommentsResult,
        error: loadCommentsError
      } = await getAsync(
        axios.get(`/lessons/${this.ownerUserId}/comments/${lastCommentID}`)
      );
      this.showLoading(false);
      if (loadCommentsError) {
        // Nothing
      }

      let commentList = _.orderBy(
        loadCommentsResult.data.data,
        ["id"],
        ["asc"]
      );
      commentList = _.map(commentList, item => {
        const newItem = item;
        newItem.answers = _.orderBy(newItem.answers, ["id"], ["asc"]);
        return newItem;
      });

      this.remainCommentCount = loadCommentsResult.data.remain_data;
      this.comments = _.concat(commentList, this.comments);
    },
    postNewComment: async function() {
      if (this.newPostText.trim().length > 0) {
        this.showLoading(true);
        const commentData = {
          lesson_id: this.lessonData.id,
          user_id: this.ownerUserId,
          comment_user_id: this.userData.id,
          parent_id: 0,
          content: this.newPostText.replace(/\r?\n/g, "<br />").trim()
        };
        let {
          result: newCommentResult,
          error: newCommentError
        } = await getAsync(axios.post("/comments", commentData));

        this.showLoading(false);
        if (newCommentError) {
          swal({
            title: "ไม่สามารถเขียนข้อความได้ในขณะนี้ กรุณาลองใหม่อีกครั้ง",
            type: "error"
          });
          return;
        }

        this.newPostText = "";
        this.comments.push(newCommentResult.data.data);
      }
    }
  },
  mounted() {
    this.loadComment();
  },
  components: {
    LessonCommentItem
  }
};
</script>
