<template>
    <div>
        <div class="lesson-video">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe :src="lesson.youtube_url" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div class="lesson-detail">
            <div class="lesson-detail-header">
                <div class="lesson-detail-header-left">
                    <img src="/imgs/icon-book.png" class="icon"/>รายละเอียดการบ้าน
                </div>
                <div class="lesson-detail-header-right">
                    <button class="btn btn-primary btn-block" @click="onClickPostComment">ตอบการบ้าน</button>
                </div>
            </div>
            <div class="lesson-detail-body" v-html="lesson.description"></div>
        </div>
    </div>
</template>

<script>
export default {
  name: "LessonContent",
  props: {
    lesson: {
      type: Object,
      default: function() {
        return {
          title: "",
          youtube_url: "",
          description: ""
        };
      }
    }
  },
  methods: {
    onClickPostComment() {
      this.$emit("answer");
    }
  }
};
</script>

