<template>
  <div class="landing-container">
    <div class="login-block">
        <!-- <div class="logo-container">
            <img src="/imgs/header-logo.png" class="logo" />
        </div>
        <p>ยินดีต้อนรับสู่ GOALCLASS</p> -->
        <div class="welcome-video-block embed-responsive embed-responsive-16by9" v-if="videoURL">
            <iframe :src="videoURL" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="fb-signin-container">
          <fb-signin-button
              :params="fbSignInParams"
              @success="onSignInSuccess">
              เข้าสู่ระบบด้วย Facebook
          </fb-signin-button>
        </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import swal from 'sweetalert2';
import axios from 'axios';
import { mapActions } from 'vuex';
import { getAsync } from '../utils';

import FBSignInButton from 'vue-facebook-signin-button';
Vue.use(FBSignInButton);

export default {
  name: 'LoginView',
  data() {
    return {
      videoURL: null,
      fbSignInParams: {
        scope: 'email',
        return_scopes: true
      }
    };
  },
  methods: {
    ...mapActions(['showLoading']),
    onSignInSuccess(response) {
      this.showLoading(true);
      FB.api('/me', { fields: 'id, name, email' }, async res => {
        window.entryUser = res;
        let { result: loginResult, error: loginError } = await getAsync(
          axios.post('/login', res)
        );

        this.showLoading(false);
        if (loginError || loginResult.data.success === 0) {
          swal({
            title: 'ไม่สามารถเข้าสู่ระบบได้',
            type: 'error'
          });
          return;
        }

        const userData = loginResult.data.data;
        this.$store.dispatch('setUserData', userData);

        this.$emit('success', userData);
      });
    }
  },
  mounted: async function() {
    let {result: getSettingResult, error: getSettingError} = await getAsync(axios.get(`/configs`));
    if (getSettingError) return;

    const responseData = getSettingResult.data;
    if (responseData && responseData.data.login_video_url) {
      this.videoURL = responseData.data.login_video_url;
    }
  }
};
</script>
