<template>
  <div class="response-in-app-container">
    <div class="response-in-app-content">
      <div class="logo-container">
          <img src="/imgs/header-logo.png" class="logo" />
      </div>
      <p>กรุณาเปิดใช้งานบนแอพอื่น โดยกดที่เมนูมุมขวาบน และเลือกเปิดบน Chrome หรือ Safari</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ResponseInApp'
};
</script>
