<template>
    <div class="not-found-container">
        <div class="center-block">
            <div class="logo-container">
                <img src="/imgs/header-logo.png" class="logo" />
            </div>
            <p>404 ;( ไม่พบหน้าที่ท่านต้องการ</p>
        </div>
    </div>
</template>

<script>
export default {
};
</script>

