<template>
  <div>
    <Header />

    <div class="container page-container">
      <div class="admin-header">
        <div class="row">
          <div class="col">
            <img src="/imgs/goalclass.png" class="goalclass-logo" />
            <h4 class="admin-list-title">ตั้งค่า</h4>
          </div>
          <div class="col header-button-container">
            <button type="button" class="btn btn-outline-primary" @click="onClickSubmit">บันทึก</button>
          </div>
        </div>
      </div>

      <form class="form" autocomplete="false" novalidate>
        <div class="form-row" v-if="form.login_video_url">
          <div class="form-group col-lg-6">
            <label>Login's Youtube URL</label>
            <input class="form-control" name="login_video_url" v-model="form.login_video_url" />
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { mapActions } from "vuex";
import store from "../../store";
import swal from "sweetalert2";

import { Header } from "../../components";
import { getAsync } from "../../utils";

export default {
  data: () => ({
    form: {}
  }),
  methods: {
    ...mapActions(['showLoading']),
    onClickSubmit() {
      const vm = this;

      swal({
        title: 'ต้องการบันทึกการตั้งค่าใช่หรือไม่',
        type: 'info',
        confirmButtonText: 'Confirm',
        showCancelButton: true,
        cancelButtonText: 'Cancel'
      }).then(async function (result) {
        if(result.value) {
          vm.showLoading(true);
          const data = vm.form;
          let { result, error } = await getAsync(axios.post(`/configs`, data));
          if (error) {
            swal({
              title: 'ไม่สามารถบันทึกข้อมูลที่แก้ไขได้',
              text: 'เกิดข้อผิดพลาดในขณะบันทึก',
              type: 'error'
            });
            return;
          }

          vm.showLoading(false);
          swal({
            title: 'ทำการบันทึกข้อมูลเสร็จเรียบร้อยแล้ว',
            type: 'success'
          });
        }
      });
    }
  },
  beforeRouteEnter: async (to, from, next) => {
    let { result: getConfigResult, error: getConfigError } = await getAsync(axios.get(`/configs`));
    if (getConfigError) {
      swal({
        title: 'ไม่สามารถดึงค่า Setting ได้',
        text: 'เกิดข้อผิดพลาดขณะดึงค่า Setting',
        type: 'error'
      })
      next();
      return;
    };

    const responseData = getConfigResult.data;
    if (responseData && responseData.data) {
      next(vm => {
        vm.form = responseData.data;
      });
    } else {
      swal({
        title: 'ไม่สามารถดึงค่า Setting ได้',
        text: 'ไม่สามารถดึงค่า Setting ไม่แสดงได้',
        type: 'error'
      })
      return;

      next();
    }

  },
  components: {
    Header
  }
}
</script>

