<template>
  <div>
    <Header />

    <div class="container page-container">
      <div class="admin-header">
        <div class="row">
          <div class="col-12">
            <img src="/imgs/goalclass.png" class="goalclass-logo" />
            <h4 class="admin-list-title">
              จำนวนผู้ลงทะเบียน {{ formatTotal }} คน<br />
              จำนวนผู้เข้าร่วมกิจกรรม {{ formatApproved }} คน<br />
            </h4>
          </div>
        </div>
      </div>

      <div class="search-form">
        <img src="/imgs/magnifying-glass.png" class="icon" />
        <input type="text" class="form-control" name="search-text" placeholder="ค้นหาผู้ลงทะเบียน" v-model="searchText" >
        <button class="btn btn-primary" @click="onClickSearch()" > ค้นหา </button>
      </div>

      <div class="custom-table-container">
        <datatable v-bind="$data" ref="table" tbl-class="custom-table" />
      </div>

      <b-modal id="register-detail" v-model="showModal" title="รายละเอียดผู้ลงทะเบียน">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>ชื่อ</label>
            <input type="text" class="form-control" readonly v-if="selectedData" v-model="selectedData.firstname">
          </div>
          <div class="form-group col-md-6">
            <label>นามสกุล</label>
            <input type="text" class="form-control" readonly v-if="selectedData" v-model="selectedData.lastname">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>ชื่อเล่น</label>
            <input type="text" class="form-control" readonly v-if="selectedData" v-model="selectedData.nickname">
          </div>
          <div class="form-group col-md-6">
            <label>เบอร์โทร</label>
            <input type="text" class="form-control" readonly v-if="selectedData" v-model="selectedData.tel">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>อีเมล</label>
            <input type="text" class="form-control" readonly v-if="selectedData" v-model="selectedData.email">
          </div>
          <div class="form-group col-md-6">
            <label>อาชีพ</label>
            <input type="text" class="form-control" readonly v-if="selectedData" v-model="selectedData.occupation">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <label>"ทำไมคุณถึงต้องการมาเป็นแขกในค่ำคืนสำคัญในการกลับมาของโค้ชพลบนเวทีนี้"</label>
            <textarea class="form-control" readonly v-if="selectedData" v-model="selectedData.description"></textarea>
          </div>
        </div>
        <div slot="modal-footer" class="w-100">
          <b-btn size="sm" variant="primary" @click="onClickApprove()" v-if="selectedData && selectedData.approve_status === 0">
            Approve
          </b-btn>
          <b-btn size="sm" variant="primary" @click="onClickResend()" v-if="selectedData && selectedData.approve_status !== 0">
            Resend
          </b-btn>
          <b-btn size="sm" class="float-right" variant="danger" @click="showModal=false">
            Close
          </b-btn>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script>
import numeral from 'numeral';
import { mapActions } from 'vuex';
import store from '../../store';
import swal from 'sweetalert2';
import { RegisterStatusColumn } from "../../components/datatables";
import { Header } from '../../components';
import { getAsync } from '../../utils';
import _ from 'lodash';

export default {
  data: () => ({
    countRegistered: 0,
    countApproved: 0,
    searchText: '',
    HeaderSettings: false,
    columns: [
      {
        title: 'สถานะ',
        field: 'approve_status',
        sortable: true,
        thStyle: 'width: 100px;',
        tdStyle: 'width: 100px;',
        thClass: "text-center",
        tdClass: "text-center",
        tdComp: RegisterStatusColumn
      },
      {
        title: 'ชื่อ นามสกุล',
        field: 'fullname',
        sortable: true,
        thClass: 'auto-column',
        tdClass: 'auto-column'
      },
      {
        title: 'เบอร์โทร',
        field: 'tel',
        sortable: true,
        thStyle: 'width: 150px',
        tdStyle: 'width: 150px',
        thClass: 'd-none d-md-table-cell',
        tdClass: 'd-none d-md-table-cell'
      },
      {
        title: 'อีเมล',
        field: 'email',
        sortable: true,
        thStyle: 'width: 280px;',
        thClass: 'd-none d-md-table-cell',
        tdClass: 'd-none d-md-table-cell'
      }
    ],
    data: [],
    total: 0,
    query: {
      order: 'desc',
      sort: 'created_at',
      searchText: ''
    },
    selectedData: null,
    showModal: false
  }),
  watch: {
    query: {
      handler() {
        this.handlerQueryChange();
      },
      deep: true
    }
  },
  computed: {
    formatTotal() {
      return numeral(this.countRegistered).format("0,0");
    },
    formatApproved() {
      return numeral(this.countApproved).format("0,0");
    }
  },
  methods: {
    ...mapActions(["showLoading"]),
    handlerQueryChange() {
      this.showLoading(true);
      axios.post("/events/list", this.query).then(response => {
        this.showLoading(false);
        if (response.status === 200) {
          let result = response.data.data;
          this.total = result.total;
          this.data = result.data;
        }
      });
    },
    onClickApprove() {
      swal({
          title: 'ยืนยันการ Approve ข้อมูล',
          html: 'ท่านต้องการ Approve ข้อมูลการลงทะเบียนนี้ใช่หรือไม่',
          type: 'warning',
          showCancelButton: true,
          cancelButtonText: 'ยกเลิก',
          confirmButtonText: 'ยืนยัน'
        }).then(result => {
          if (result.value) {
            this.showModal = false;
            this.setApproved();
          }
        })
    },
    async onClickResend() {
      this.showLoading(true);
      const data = {
        id: this.selectedData.id
      };
      let { result: resendEmailResult, error: resendEmailError } = await getAsync(axios.post('/events/resend', data));
      if (resendEmailError) {
        this.showLoading(false);
        swal({
          title: "เกิดข้อผิดพลาดในการ Resend Email ให้ผู้ลงทะเบียน",
          type: "error"
        });
        return;
      }

      swal({
        title: "ทำการ Resend QR Code เรียบร้อยแล้ว",
        type: "success"
      });
      this.showLoading(false);
    },
    async setApproved() {
      this.showLoading(true);
      const data = {
        id: this.selectedData.id
      };
      let { result: setApprovedResult, error: setApprovedError } = await getAsync(axios.post('/events/approved', data))
      if (setApprovedError) {
        this.showLoading(false);
        swal({
          title: "เกิดข้อผิดพลาดในการ Approve ผู้ลงทะเบียน",
          type: "error"
        });
        return;
      }
      const selectedIndex = _.findIndex(this.data, ['id', this.selectedData.id]);
      this.data[selectedIndex].approve_status = 1;
      this.countApproved++;
      this.showLoading(false);
    },
    onClickSearch() {
      this.query.searchText = this.searchText;
    }
  },
  beforeRouteEnter: async (to, from, next) => {
    let { result: countRegisteredResult, error: countRegisteredError } = await getAsync(
      axios.get(`/events/count`)
    );
    let countData = 0;
    if (countRegisteredError) {
      swal({
        title: "เกิดข้อผิดพลาดในการดึงจำนวนผู้ลงทะเบียน",
        type: "error"
      });
    } else {
      countData = countRegisteredResult.data.data;
    }

    next(vm => {
      vm.countRegistered = countData['total'];
      vm.countApproved = countData['total_approved']
    });
  },
  mounted() {
    var vm = this;
    $("table").on("click", "td", function() {
      const idx = $(this)
        .parents("tr")
        .index();
      const row = vm.data[idx];
      vm.selectedData = row;
      vm.showModal = true;
    });
  },
  components: {
    Header
  }
};
</script>

