.custom-table-container {
  font-family: $secondary-font;

  .form-control {
    border-radius: 2px;
  }

  label[name="PageSizeSelect"] {
    font-weight: bold;
  }

  .pagination {
    .page-item {
      .page-link {
        border-radius: 2px;
        color: #17223c;
      }

      &.active {
        .page-link {
          background-color: #17223c;
          color: #fff;
          border: none;
        }
      }
    }
  }
}

.custom-table {
  table-layout: fixed;

  thead {
    font-weight: $medium;

    tr {
      background-color: #17223c;
      color: #fff;
    }

    th {
      border-bottom: none;

      a {
        color: #fff;
      }
    }
  }

  tbody {
    tr:nth-of-type(even),
    tr:nth-of-type(odd) {
      background-color: #fff;
    }

    tr:hover {
      background-color: rgba(#17223c, 0.25);

      td {
        cursor: pointer;
      }
    }
  }

  th,
  td {
    border: none;
  }

  th.auto-column,
  td.auto-column {
    width: 100%;
  }

  td.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
