.navbar.header {
  position: relative;
  margin-bottom: 19px;

  @include media-breakpoint-up(md) {
    margin-bottom: 35px;
  }

  &:after {
    position: absolute;
    content: "";
    width: 96%;
    height: 1px;
    background-color: rgba($color: #979797, $alpha: 0.27);
    bottom: 0;
    left: 50%;
    margin-left: -48%;

    @include media-breakpoint-up(md) {
      width: 98%;
      margin-left: -49%;
    }
  }

  .navbar-brand {
    width: 113px;

    img {
      width: 100%;
    }

    @include media-breakpoint-up(md) {
      width: 169px;
    }
  }

  .navbar-nav {
    font-family: $secondary-font;
    color: #202020;

    .nav-link {
      color: #202020;

      &:hover {
        color: lighten($color: #202020, $amount: 40%);
      }
    }

    .dropdown-menu {
      position: absolute;
      border-radius: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: -5px;
      box-shadow: 0px 2px 20px 1px rgba(171, 171, 171, 1);
    }

    .dropdown-toggle {
      padding-right: 20px;

      &:after {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -3px;
      }
    }

    .dropdown-item {
      outline: none;
      background: transparent;
      padding-top: 6px;
      padding-bottom: 6px;

      &:hover {
        background-color: rgba(23, 34, 60, 0.5);
      }
    }
  }

  .user-data {
    .user-image {
      display: none;

      @include media-breakpoint-up(md) {
        display: inline;
        width: 34px;
        margin-right: 8px;
      }
    }
  }
}

.page-container {
  padding-bottom: 20px;
  position: relative;
}

.response-in-app-container {
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .response-in-app-content {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 40px 20px 20px;

    @include media-breakpoint-up(md) {
      width: 370px;
    }
  }

  .logo-container {
    width: 200px;
    margin-bottom: 30px;

    img {
      width: 100%;
    }
  }

  p {
    text-align: center;
  }
}

.loading-container {
  .loading {
    border-radius: 0 !important;

    .loading-label {
      font-family: $secondary-font;
    }
  }
}
