// Body
$body-bg: #fdfdfd;

// Typography
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-font: "Prompt", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Colors
$dark-blue: #17223c;

$theme-colors: (
  "primary": $dark-blue,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);
