<template>
  <div>
    <router-view></router-view>
    <response-in-app v-if="responseInAppStatus"></response-in-app>
    <BlockUI message="กรุณารอสักครู่" url="/imgs/loading.gif" v-if="loadingStatus" ></BlockUI>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { ResponseInApp } from './components'

export default {
  name: "app",
  computed: {
    ...mapGetters(['responseInAppStatus', 'loadingStatus'])
  },
  components: {
    ResponseInApp
  }
};
</script>
