<template>
    <div>
        <Header />

        <div class="container page-container">
            <div class="admin-header">
                <img src="/imgs/goalclass.png" class="goalclass-logo" />
                <h4 class="admin-list-title">จำนวนผู้เข้าเรียน {{ formatCount }} คน</h4>
            </div>

            <div class="search-form">
                <img src="/imgs/magnifying-glass.png" class="icon" />
                <input type="text" class="form-control" name="search-text" placeholder="ค้นหาผู้เรียน" v-model="searchText" >
                <button class="btn btn-primary" @click="onClickSearch()" > ค้นหา </button>
            </div>

            <div class="custom-table-container">
                <datatable v-bind="$data" ref="table" tbl-class="custom-table" />
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import numeral from "numeral";
import { mapActions } from "vuex";
import store from "../../store";
import swal from "sweetalert2";

import { getAsync } from "../../utils";
import { Header } from "../../components";
import {
  DateColumn,
  DateTimeColumn,
  NumberColumn
} from "../../components/datatables";

export default {
  data: () => ({
    countStudent: 0,
    searchText: "",
    HeaderSettings: false,
    columns: [
      {
        title: "ชื่อ",
        field: "name",
        sortable: true,
        thClass: "auto-column",
        tdClass: "auto-column"
      },
      {
        title: "Post ล่าสุด",
        field: "last_comment_time",
        sortable: true,
        thStyle: "width: 180px;",
        thClass: "text-center",
        tdClass: "text-center",
        tdComp: DateTimeColumn
      },
      {
        title: "VDO ที่ดูล่าสุด",
        field: "title",
        sortable: true,
        thStyle: "width: 150px",
        tdStyle: "width: 150px",
        thClass: "d-none d-md-table-cell text-center",
        tdClass: "d-none d-md-table-cell ellipsis"
      },
      {
        title: "จำนวน Comment",
        field: "count_comment",
        sortable: true,
        thStyle: "width: 165px",
        tdStyle: "width: 165px",
        thClass: "d-none d-xl-table-cell text-center",
        tdClass: "d-none d-xl-table-cell text-center",
        tdComp: NumberColumn
      },
      {
        title: "วันที่สมัคร",
        field: "created_at",
        sortable: true,
        thStyle: "width: 160px",
        tdStyle: "width: 160px",
        thClass: "d-none d-md-table-cell text-center",
        tdClass: "d-none d-md-table-cell text-center",
        tdComp: DateColumn
      }
    ],
    data: [],
    total: 0,
    query: {
      order: "desc",
      sort: "last_comment_time",
      searchText: ""
    }
  }),
  watch: {
    query: {
      handler() {
        this.handlerQueryChange();
      },
      deep: true
    }
  },
  computed: {
    formatCount() {
      return numeral(this.countStudent).format("0,0");
    }
  },
  methods: {
    ...mapActions(["showLoading"]),
    handlerQueryChange() {
      this.showLoading(true);
      axios.post("/students/list", this.query).then(response => {
        this.showLoading(false);
        if (response.status === 200) {
          let result = response.data.data;
          this.total = result.total;
          this.data = result.data;
        }
      });
    },
    onClickSearch() {
      this.query.searchText = this.searchText;
    }
  },
  mounted() {
    var vm = this;
    $("table").on("click", "td", function() {
      const idx = $(this)
        .parents("tr")
        .index();
      const row = vm.data[idx];
      if (row.alias) {
        vm.$router.push({
          path: `lesson-answer/${row.alias}/student/${row.id}`
        });
      } else {
        swal({
          title: "ไม่สามารถเข้าดูบทเรียนของผู้เข้าเรียนรายนี้ได้",
          type: "error"
        });
      }
    });
  },
  beforeRouteEnter: async (to, from, next) => {
    let {
      result: countStudentResult,
      error: countStudentError
    } = await getAsync(axios.get(`/students/count`));
    let countData = 0;
    if (countStudentError) {
      swal({
        title: "เกิดข้อผิดพลาดในการดึงจำนวนผู้เข้าเรียน",
        type: "error"
      });
    } else {
      countData = countStudentResult.data.data;
    }

    next(vm => (vm.countStudent = countData));
  },
  components: {
    Header
  }
};
</script>
