.not-found-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("../imgs/landing-bg.png") scroll center center no-repeat
    transparent;
  background-size: cover;

  .center-block {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px 20px 15px;
    width: 289px;

    @include media-breakpoint-up(sm) {
      padding: 23px;
      width: 419px;
    }

    .logo-container {
      text-align: center;
      margin-top: 17px;

      @include media-breakpoint-up(md) {
        margin-top: 30px;
      }
    }
    .logo {
      width: 189px;
    }

    p {
      font-family: $secondary-font;
      font-size: 0.875em;
      text-align: center;
      margin-top: 9px;

      @include media-breakpoint-up(sm) {
        font-size: 1.125em;
        margin-top: 6px;
      }
    }

    .link-back {
      display: inline-block;
      padding: 15px 0;
      border-radius: 3px;
      background-color: #17223c;
      color: #fff;
      text-align: center;
      font-family: $secondary-font;
      font-size: 0.8125em;
      font-weight: $medium;
      cursor: pointer;

      @include media-breakpoint-up(sm) {
        font-size: 1.3125em;
        padding: 17px 0;
      }
    }
  }
}
