.header-button-container {
  display: none;
  font-family: $secondary-font;
  justify-content: flex-end;
  align-items: flex-end;

  &.header-button-container-fix {
    display: flex;
  }

  @include media-breakpoint-up(md) {
    display: flex;
  }

  .btn {
    margin-left: 10px;
  }
}

.form-action-bottom {
  display: flex;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.form {
  font-family: $secondary-font;
}

.alias-container {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.btn-clipboard {
  margin-left: 10px;

  span {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .fa.fa-clipboard {
    display: block;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}

.form-check-status {
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    margin-top: 40px;
    margin-bottom: 0;
  }
}
