.admin-header {
  border-bottom: 1px solid rgba(33, 37, 41, 0.25);
  padding-bottom: 20px;
  margin-bottom: 28px;

  .admin-list-title {
    font-size: 1.25em;
    font-family: $secondary-font;
    font-weight: $medium;
    margin-top: 8px;
  }
}

.search-form {
  display: flex;
  font-family: $secondary-font;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;

  @include media-breakpoint-up(md) {
    width: 500px;
  }

  .icon {
    height: 24px;
    flex: 0 0 24px;
    margin-right: 16px;
  }

  .form-control {
    flex: 1 0 0;
    border-radius: 2px;
  }

  .btn {
    flex: 0 0 90px;
    margin-left: 8px;
    border-radius: 2px;
  }
}
