.comment-block {
  display: flex;
  flex-direction: column-reverse;
  background-color: #f7f7f7;
  padding: 12px;

  @include media-breakpoint-up(md) {
    padding: 14px;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: column;
  }
}

.comment-form {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;

  @include media-breakpoint-up(lg) {
    flex-direction: column;
    padding-bottom: 0;
  }

  .comment-input-container {
    display: flex;
    flex: 1 0 0;

    @include media-breakpoint-up(lg) {
      flex: 0 0 auto;
    }
  }

  .comment-submit-container {
    display: flex;
    flex: 0 0 40px;

    @include media-breakpoint-up(lg) {
      flex: 0 0 auto;
      width: 100%;
      padding-top: 15px;
      justify-content: flex-end;
    }
  }

  .user-image-container {
    display: flex;
    flex: 0 0 24px;
    margin-right: 9px;
    padding-top: 10px;

    @include media-breakpoint-up(md) {
      flex-basis: 36px;
      margin-right: 14px;
      padding-top: 6px;
    }
  }

  textarea {
    border: none;
    flex: 1 0 0;
    padding: 10px;
    border-radius: 4px;
    font-size: 0.8125em;

    @include media-breakpoint-up(md) {
      border-radius: 6px;
      font-size: 1.0625em;
    }
  }

  .btn {
    background-color: transparent;
    border: none;

    &:focus,
    :active {
      box-shadow: none !important;
      outline: 0px !important;
      background: transparent;
    }

    .fa {
      display: block;
      color: #17223c;
      font-size: 1.5em;
    }
    span {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      background-color: $dark-blue;
      color: #fff;
      width: 137px;
      border-radius: 4px;
      font-family: $secondary-font;
      font-size: 1.0625em;
      font-weight: 500;

      .fa {
        display: none;
      }
      span {
        display: block;
      }
    }
  }
}

.comment-user-image {
  border-radius: 50%;
  width: 24px;
  height: 24px;

  @include media-breakpoint-up(md) {
    width: 36px;
    height: 36px;
  }

  &.admin {
    border: 2px solid #17223c;
  }
}

.comment-list {
  border-top: 1px solid rgba(101, 101, 101, 0.11);
  padding-top: 19px;

  @include media-breakpoint-up(lg) {
    border-bottom: 1px solid rgba(101, 101, 101, 0.11);
    border-top: none;
    padding-top: 0;
    margin-bottom: 22px;
  }

  .load-more-link {
    margin-bottom: 25px;

    a {
      font-weight: $bold;
      color: #17223c;
      font-size: 1em;
      cursor: pointer;

      &:hover {
        color: lighten($color: #17223c, $amount: 20%);
      }
    }
  }
}

.comment-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @include media-breakpoint-up(md) {
    margin-bottom: 34px;
  }
}

.comment-item-header {
  padding-left: 34px;
  display: flex;
  flex-direction: row;

  @include media-breakpoint-up(md) {
    padding-left: 50px;
  }

  .lesson-title {
    border-radius: 13px;
    padding: 4px 9px;
    background-color: $dark-blue;
    font-size: 0.75em;
    width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $white;

    @include media-breakpoint-up(md) {
      font-size: 0.875em;
      width: 155px;
    }
  }
}

.comment-item-body {
  display: flex;
  flex-direction: row;

  .comment-user-image-container {
    display: flex;
    flex: 0 0 24px;
    margin-right: 9px;
    padding-top: 10px;

    @include media-breakpoint-up(md) {
      flex-basis: 36px;
      margin-right: 14px;
      padding-top: 6px;
    }
  }

  .comment-content {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;

    .content {
      width: 100%;
      background-color: #e8e8e8;
      border-radius: 4px;
      margin-bottom: 7px;
      padding: 10px;
      font-size: 0.8125em;
      @include word-wrap();

      @include media-breakpoint-up(md) {
        font-size: 1.0625em;
        margin-bottom: 10px;
      }
    }

    .comment-time {
      text-align: right;
      width: 100%;
      font-size: 0.75em;
    }
  }

  .answer-list {
    margin-top: 11px;

    @include media-breakpoint-up(md) {
      margin-top: 16px;
    }

    .load-more-answers {
      margin-bottom: 16px;
      padding-left: 6px;
      cursor: pointer;

      @include media-breakpoint-up(md) {
        margin-bottom: 20px;
        padding-left: 12px;
      }

      img {
        width: 16px;
        height: 18px;
        margin-right: 12px;

        @include media-breakpoint-up(md) {
          margin-right: 14px;
        }
      }

      span {
        font-size: 0.875em;

        @include media-breakpoint-up(md) {
          font-size: 1em;
        }
      }
    }
  }

  .answer-item {
    display: flex;
    flex-direction: row;
  }
}

.answer-form {
  display: flex;
  flex-direction: row;
  margin-top: 11px;

  @include media-breakpoint-up(md) {
    margin-top: 16px;
  }

  .answer-user-image-container {
    display: flex;
    flex: 0 0 24px;
    margin-right: 9px;
    padding-top: 10px;

    @include media-breakpoint-up(md) {
      flex-basis: 36px;
      margin-right: 14px;
      padding-top: 6px;
    }
  }

  textarea {
    border: none;
    flex: 1 0 0;
    padding: 10px;
    border-radius: 4px;
    font-size: 0.8125em;

    @include media-breakpoint-up(md) {
      border-radius: 6px;
      font-size: 1.0625em;
    }
  }

  .answer-submit {
    color: #17223c;
    display: flex;
    flex: 0 0 40px;
    align-items: center;
    justify-content: center;
    background: transparent;

    &:focus,
    :active {
      box-shadow: none !important;
      outline: 0px !important;
    }

    .fa {
      color: #17223c;
      font-size: 1.5em;
    }
  }
}
