.event-container {
  display: flex;
  flex-direction: column;
  margin-top: -19px;
  font-family: $secondary-font;

  @include media-breakpoint-up(md) {
    margin-top: -35px;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    width: 900px;
    margin: 0 auto 30px;
    box-shadow: 0px 0px 30px 0px rgba(153,153,153,1);
  }
}

.event-image-container {
  width: 100%;
  background-color: #232222;
  padding: 10px 0;

  @include media-breakpoint-up(lg) {
    width: 388px;
    padding: 0;
  }

  .event-image {
    width: 180px;
    height: 255px;
    display: block;
    background: url('../imgs/event-top-image.jpg') scroll top left no-repeat transparent;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(md) {
      width: 300px;
      height: 424px;
    }

    @include media-breakpoint-up(lg) {
      width: 388px;
      height: 100%;
    }
  }
}

.event-content {
  padding-top: 20px;
  padding-bottom: 20px;

  @include media-breakpoint-up(lg) {
    display: flex;
    flex: 1 0 0;
    padding: 20px 5px;
  }
}

.event-top-content {
  text-align: center;

  .before-header-text {
    font-weight: 200;
    font-size: 0.875em;
    margin-bottom: 10px;

    @include media-breakpoint-up(md) {
      font-size: 1.125em;
    }

    @include media-breakpoint-up(lg) {
      font-size: 0.875em;
    }
  }

  .event-name {
    margin-bottom: 10px;
  }

  .event-name--line-1 {
    color: #17223c;
    font-size: 0.9375em;
    font-weight: $medium;


    @include media-breakpoint-up(md) {
      font-size: 1.25em;
    }

    @include media-breakpoint-up(lg) {
      font-size: 0.9375em;
    }
  }

  .event-name--line-2 {
    background-color: #17223c;
    border-radius: 2px;
    color: #fff;
    font-weight: $semi-bold;
    font-size: 1.125em;
    padding-top: 4px;
    padding-bottom: 4px;

    @include media-breakpoint-up(md) {
      font-size: 1.75em;
    }

    @include media-breakpoint-up(lg) {
      font-size: 1.125em;
    }

    span {
      font-style: italic;
      margin: 0 6px;
    }
  }

  .event-name--line-3 {
    font-weight: $medium;
    font-size: 0.875em;
    margin-bottom: 15px;

    @include media-breakpoint-up(md) {
      font-size: 1.125em;
    }

    @include media-breakpoint-up(lg) {
      font-size: 0.875em;
    }

    span {
      font-weight: $regular;
    }
  }

  .event-time, .event-location {
    font-size: 0.875em;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      font-size: 1.125em;
    }

    @include media-breakpoint-up(lg) {
      font-size: 0.875em;
    }
  }

  &:after {
    content: " ";
    background-color: #656565;
    opacity: 0.25;
    width: 90%;
    height: 2px;
    display: block;
    margin: 10px auto 30px;

    @include media-breakpoint-up(md) {
      width: 398px;
    }
  }
}


.event-form {
  .form-control {
    background-color: #f2f2f2;
    border-radius: 12px;
    border: none;

    &.is-invalid {
      background-color: #ffdddd;
    }

    &:disabled, &[readonly] {
      background-color: #bfbfbf;
    }
  }

  label {
    font-size: 0.875em;
  }

  textarea {
    resize: none;
    height: 200px;

    @include media-breakpoint-up(lg) {
      height: 120px;
    }
  }

  .action-container {
    height: 40px;

    @include media-breakpoint-up(md) {
      text-align: right;
    }

    .btn {
      background-color: #17223c;
      color: #fff;
      font-size: 1.125em;
      border-radius: 14px;
      border: none;

      @include media-breakpoint-up(md) {
        width: auto;
        padding-left: 35px;
        padding-right: 35px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 1em;
      }
    }
  }
}
