.landing-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("../imgs/landing-bg.jpg?v=2") scroll top center no-repeat
    transparent;
  background-size: cover;

  .login-block {
    flex-direction: column;
    width: 289px;
    text-align: center;

    @include media-breakpoint-up(sm) {
      padding: 23px;
      width: 419px;
    }

    @include media-breakpoint-up(md) {
      width: 650px;
    }

    @include media-breakpoint-up(lg) {
      width: 750px;
    }

    .fb-signin-container {
      padding: 10px;
      background-color: #fff;
      width: 200px;
      margin-left: auto;
      margin-right: auto;

      @include media-breakpoint-up(md) {
        width: 400px;
      }
    }
  }

  .center-block {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px 20px 15px;
    width: 289px;

    @include media-breakpoint-up(sm) {
      padding: 23px;
      width: 419px;
    }

    @include media-breakpoint-up(md) {
      width: 600px;
    }

    @include media-breakpoint-up(lg) {
      width: 700px;
    }

    .logo-container {
      text-align: center;

      @include media-breakpoint-up(md) {
        margin-top: 10px;
      }
    }
    .logo {
      width: 189px;
    }

    p {
      font-family: $secondary-font;
      font-size: 0.875em;
      text-align: center;
      margin-top: 9px;

      @include media-breakpoint-up(sm) {
        font-size: 1.125em;
        margin-top: 6px;
      }
    }
  }

  .welcome-video-block {
    margin-bottom: 20px;
  }

  .fb-signin-button {
    display: inline-block;
    padding: 15px 0;
    border-radius: 3px;
    background-color: #17223c;
    color: #fff;
    text-align: center;
    font-family: $secondary-font;
    font-size: 0.8125em;
    font-weight: $medium;
    cursor: pointer;
    width: 180px;

    @include media-breakpoint-up(sm) {
      font-size: 1.3125em;
      padding: 17px 0;
      width: 380px;
    }

    @include media-breakpoint-up(sm) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
