.goalclass-logo {
  width: 113px;
  margin-bottom: 2px;

  @include media-breakpoint-up(md) {
    width: 195px;
    margin-bottom: 5px;
  }
}

.lesson-content {
  @include make-row();
  // width: 100%;
  // margin-left: -15px;
  // margin-right: -15px;
  // display: flex;
  // flex-direction: column;
  // @include media-breakpoint-up(lg) {
  //     flex-direction: row;
  // }

  .lesson-left-content,
  .lesson-right-content {
    width: 100%;
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: column;
    }
  }

  .lesson-left-content {
    @include media-breakpoint-up(lg) {
      width: 560px;
    }

    @include media-breakpoint-up(xl) {
      width: 674px;
    }
    .action-container {
      margin-top: -15px;

      @include media-breakpoint-up(md) {
        margin-top: -10px;
      }
      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }
    }
  }

  .lesson-right-content {
    @include media-breakpoint-up(lg) {
      width: 359px;
      margin-left: 25px;
    }

    @include media-breakpoint-up(xl) {
      width: 421px;
      margin-left: 29px;
    }
  }
}

.lesson-content-header {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;

  @include media-breakpoint-up(lg) {
    width: 660px;
  }

  .lesson-title {
    font-family: $secondary-font;
    font-size: 0.8125em;
    margin-bottom: 12px;
    line-height: 19px;
    flex: 0 0 calc(100vw - 142px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include media-breakpoint-up(md) {
      font-size: 1.25em;
      margin-bottom: 16px;
      line-height: 36px;
      flex: 0 0 560px;
    }

    @include media-breakpoint-up(lg) {
      flex-basis: 400px;
    }

    @include media-breakpoint-up(xl) {
      flex-basis: 515px;
    }
  }
}

.lesson-video {
  width: 100vw;

  @include media-breakpoint-up(md) {
    width: 720px;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
}

.lesson-detail {
  width: 100vw;
  padding-left: 15px;
  padding-right: 15px;

  @include media-breakpoint-up(md) {
    width: 720px;
  }

  @include media-breakpoint-up(lg) {
    width: 100%;
  }
}

.lesson-detail-header {
  display: flex;
  flex-direction: row;
  font-family: $secondary-font;
  margin-top: 15px;
  border-bottom: 1px solid rgba(101, 101, 101, 0.11);
  padding-bottom: 12px;

  @include media-breakpoint-up(md) {
    margin-top: 32px;
    padding-bottom: 7px;
  }

  .lesson-detail-header-left {
    display: flex;
    flex: 1 0 0;
    align-self: center;
    font-size: 1.125em;
    line-height: 16px;

    @include media-breakpoint-up(md) {
      font-size: 1.25em;
      line-height: 29px;
    }

    .icon {
      width: 19px;
      height: 16px;
      margin-right: 13px;

      @include media-breakpoint-up(md) {
        width: 35px;
        height: 29px;
        margin-right: 16px;
      }
    }
  }

  .lesson-detail-header-right {
    display: none;

    @include media-breakpoint-up(lg) {
      display: flex;
      flex: 0 0 90px;
    }
  }
}

.lesson-detail-body {
  margin-top: 13px;

  @include media-breakpoint-up(md) {
    margin-top: 17px;
  }
}

.lesson-comment-title-container {
  background-color: #f7f7f7;

  @include media-breakpoint-up(lg) {
    background-color: transparent;
  }

  .lesson-comment-title {
    font-family: $secondary-font;
    font-size: 0.8125em;
    margin: 16px 14px 5px;

    @include media-breakpoint-up(md) {
      font-size: 1.25em;
    }

    @include media-breakpoint-up(lg) {
      line-height: 36px;
      margin: 0 0 17px;
    }
  }
}

.lesson-answer-comment-title-container {
  background-color: #f7f7f7;
  font-family: $secondary-font;
  display: flex;
  flex-direction: row;
  padding: 10px 14px 2px;

  @include media-breakpoint-up(lg) {
    background-color: transparent;
    padding: 0 0 15px;
  }

  .student-name-container {
    display: flex;
    flex: 1 0 0;
    align-items: center;

    .student-name {
      width: calc(100vw - 140px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 0.8125em;
      margin-bottom: 0;

      @include media-breakpoint-up(md) {
        width: 400px;
        font-size: 1em;
      }

      @include media-breakpoint-up(lg) {
        width: 230px;
        font-size: 1.25em;
      }

      @include media-breakpoint-up(xl) {
        width: 250px;
      }
    }
  }

  .action-container {
    display: flex;
    flex: 0 0 100px;

    @include media-breakpoint-up(md) {
      width: 140px;
    }

    @include media-breakpoint-up(lg) {
      width: 154px;
    }
  }
}

.action-container {
  .btn {
    background-color: transparent;
    font-family: $secondary-font;
    border-radius: 3px;
    border: 1px solid #17223c;
    color: #17223c;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 5px;
    font-size: 0.8125em;

    @include media-breakpoint-up(md) {
      font-size: 1em;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 7px;
      padding-bottom: 6px;
    }
  }
}
