<template>
  <div>
    <LoginView
      v-if="!hasAuthorized"
      @success="onLoginSuccess"
    />

    <template v-if="hasAuthorized">
      <Header />

      <div class="container">
        <img src="/imgs/goalclass.png" class="goalclass-logo" />

        <div class="lesson-content">
          <div class="lesson-left-content">
            <div class="lesson-content-header">
              <h4 class="lesson-title" v-if="lessonData">{{ lessonData.title }}</h4>
            </div>
            <LessonContent  :lesson="lessonData" @answer="onClickAnswer"></LessonContent>
          </div>
          <div class="lesson-right-content">
            <div class="lesson-comment-title-container">
              <h4 class="lesson-comment-title">กระดานข้อความ</h4>
            </div>
            <lesson-comment
              v-if="userData && lessonData"
              ref="lessonComment"
              :owner-user-id="String(userData.id)"
              :user-data="userData"
              :lesson-data="lessonData"
            >
            </lesson-comment>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { Header, LessonContent, LessonComment, LoginView } from "../../components";
import { mapActions } from "vuex";
import store from "../../store";
import { getAsync } from "../../utils";

export default {
  data() {
    return {
      hasAuthorized: false,
      lessonData: undefined
    };
  },
  computed: {
    userData() {
      return store.state.users.userData;
    }
  },
  methods: {
    ...mapActions(["showLoading"]),
    onLoginSuccess: async function(userData) {
      this.showLoading(true);
      if (userData.lesson_id !== this.lessonData.id || userData.lesson_alias !== this.lessonData.alias) {
        store.dispatch('setUserLessonData', {
          id: this.lessonData.id,
          alias: this.lessonData.alias
        });
      }
      await getAsync(axios.post(`/users/${userData.id}/lessons`, {lesson: this.lessonData.alias}));
      this.showLoading(false);
      this.hasAuthorized = true;
    },
    onClickAnswer: async function() {
      const logParams = {
        user_id: this.userData.id,
        action: "click-answer",
        detail: JSON.stringify({ lesson_id: this.lessonData.id })
      };
      let { result: addLogResult, error: addLogError } = await getAsync(
        axios.post(`/logs`, logParams)
      );
      this.$refs.lessonComment.setFocusCommentInput();
    }
  },
  beforeRouteEnter: async (to, from, next) => {
    let { result: getLessonResult, error: getLessonError } = await getAsync(
      axios.get(`/lessons/${to.params.alias}`)
    );
    if (getLessonError || getLessonResult.data.success === 0) {
      next('/404');
      return;
    }

    const lessonData = getLessonResult.data.data;
    const userData = store.state.users.userData;

    // Not Login
    if (!userData) {
      next(vm => {
        vm.hasAuthorized = false;
        vm.lessonData = lessonData;
      })
      return;
    }

    // Check User's lesson access
    let { result: checkLessonResult, error: checkLessonError } = await getAsync(
      axios.get(`/users/${userData.id}/lessons/${lessonData.id}/verify`)
    );
    if (checkLessonError) {
      next('/404');
      return;
    }

    let isAuthorized = false
    if (checkLessonResult.data.data === 1) {
      isAuthorized = true

      if (userData.lesson_id !== lessonData.id || userData.lesson_alias !== lessonData.alias) {
        store.dispatch('setUserLessonData', {
          id: lessonData.id,
          alias: lessonData.alias
        });
      }

      await getAsync(axios.patch(`/users/${userData.id}/lessons`, {lesson_id: lessonData.id}));
    }

    next(vm => {
      vm.hasAuthorized = isAuthorized;
      vm.lessonData = lessonData;
    });
  },
  components: {
    Header,
    LessonContent,
    LessonComment,
    LoginView
  }
};
</script>
