<template>
  <div>
    <Header />

    <div class="container page-container">
      <div class="admin-header">
        <div class="row">
          <div class="col-9">
            <img src="/imgs/goalclass.png" class="goalclass-logo" />
            <h4 class="admin-list-title">จำนวนบทเรียน {{ formatCount }} บทเรียน</h4>
          </div>

          <div class="col-3 header-button-container header-button-container-fix">
            <button type="button" class="btn btn-outline-primary btn-add" @click="onClickAdd">+ <span>เพิ่มบทเรียน</span></button>
          </div>
        </div>
      </div>

      <div class="custom-table-container">
        <datatable v-bind="$data" ref="table" tbl-class="custom-table" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import numeral from "numeral";
import { mapActions } from "vuex";
import store from "../../store";
import swal from "sweetalert2";

import { getAsync } from "../../utils";
import { Header } from "../../components";
import {
  DateColumn,
  DateTimeColumn,
  NumberColumn
} from "../../components/datatables";

export default {
  data: () => ({
    countLesson: 0,
    HeaderSettings: false,
    columns: [
      {
        title: "ชื่อบทเรียน",
        field: "title",
        sortable: true,
        thClass: "auto-column",
        tdClass: "auto-column"
      },
      {
        title: "จำนวน View",
        field: "view_count",
        sortable: true,
        thStyle: "width: 150px",
        tdStyle: "width: 150px",
        thClass: "d-none d-xl-table-cell text-center",
        tdClass: "d-none d-xl-table-cell text-center",
        tdComp: NumberColumn
      },
      {
        title: "โพสต์ล่าสุด",
        field: "last_comment_time",
        sortable: true,
        thStyle: "width: 180px;",
        thClass: "d-none d-md-table-cell text-center",
        tdClass: "d-none d-md-table-cell text-center",
        tdComp: DateTimeColumn
      },
      {
        title: "โพสต์เมื่อ",
        field: "created_at",
        sortable: true,
        thStyle: "width: 160px",
        tdStyle: "width: 160px",
        thClass: "text-center",
        tdClass: "text-center",
        tdComp: DateColumn
      }
    ],
    data: [],
    total: 0,
    query: {
      order: "desc",
      sort: "created_at",
      searchText: ""
    }
  }),
  watch: {
    query: {
      handler() {
        this.handlerQueryChange();
      },
      deep: true
    }
  },
  computed: {
    formatCount() {
      return numeral(this.countLesson).format("0,0");
    }
  },
  methods: {
    ...mapActions(["showLoading"]),
    handlerQueryChange() {
      this.showLoading(true);
      axios.post("/lessons/list", this.query).then(response => {
        this.showLoading(false);
        if (response.status === 200) {
          let result = response.data.data;
          this.total = result.total;
          this.data = result.data;
        }
      });
    },
    onClickAdd() {
      this.$router.push('/lessons/new');
    }
  },
  mounted() {
    var vm = this;
    $("table").on("click", "td", function() {
      const idx = $(this)
        .parents("tr")
        .index();
      const row = vm.data[idx];
      if (row.alias) {
        vm.$router.push({
          path: `lessons/edit/${row.alias}`
        });
      } else {
        swal({
          title: "ไม่สามารถเข้าดูบทเรียนนี้ได้",
          type: "error"
        });
      }
    });
  },
  beforeRouteEnter: async (to, from, next) => {
    let { result: countLessonResult, error: countLessonError } = await getAsync(
      axios.get(`/lessons/count`)
    );
    let countData = 0;
    if (countLessonError) {
      swal({
        title: "เกิดข้อผิดพลาดในการดึงจำนวนผู้เข้าเรียน",
        type: "error"
      });
    } else {
      countData = countLessonResult.data.data;
    }

    next(vm => (vm.countLesson = countData));
  },
  components: {
    Header
  }
};
</script>

<style>
  .btn-add span {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .btn-add span {
      display: inline;
    }
  }
</style>
