<template>
  <LoginView
    @success="onSignInSuccess"
  />
</template>

<script>
import Vue from "vue";
import swal from "sweetalert2";
import { LoginView } from '../../components'
import { getAsync } from "../../utils";

export default {
  data() {
    return {
      fbSignInParams: {
        scope: "email",
        return_scopes: true
      }
    };
  },
  methods: {
    onSignInSuccess(userData) {
      if (userData.user_type === 1) {
        this.$router.replace({ path: "/students" });
      } else {
        this.$router.replace({ path: "/404" });
      }
    }
  },
  components: {
    LoginView
  }
};
</script>
