<template>
  <div>
    <LoginView
      v-if="!hasAuthorized"
      @success="onLoginSuccess"
    />

    <template v-else>
      <Header />
      <div class="event-container">
        <div class="event-image-container">
          <div class="event-image"></div>
        </div>

        <div class="event-content">
          <div class="container-fluid">
            <div class="event-top-content">
              <p class="before-header-text">- ร่วมตอบคำถามเพื่อรับบัตรเข้าชม -</p>
              <p class="event-name event-name--line-1">The 1st Real Standup Comedy Night</p>
              <p class="event-name event-name--line-2"><span>"</span>ด้นคนเดียวกับเรื่องเรียลเรียลของชีวิต<span>"</span></p>
              <p class="event-name event-name--line-3"><span>ตอน....</span> ตลก ขบ คิด ชีวิต ตาหลก แสรดด</p>

              <p class="event-time">วันที่ 26 ตุลาคม 2561 เวลา 18.00 - 21.30 น.</p>
              <p class="event-location">ณ โรงละครเคแบงก์สยามพิฆเนศ สยามสแควร์วัน ชั้น 7</p>
            </div>


            <form class="event-form" novalidate @submit.prevent="onSubmit" autocomplete="off">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="firstname">ชื่อ</label>
                  <input type="text" name="firstname" :class="{ 'form-control': true, 'is-invalid': $v.form.firstname.$error }" v-model.trim="$v.form.firstname.$model" :disabled="isRegistered" autocomplete="a" />
                </div>
                <div class="form-group col-md-6">
                  <label for="lastname">นามสกุล</label>
                  <input type="text" name="lastname" :class="{ 'form-control': true, 'is-invalid': $v.form.lastname.$error }" v-model.trim="$v.form.lastname.$model" :disabled="isRegistered" autocomplete="a" />
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="nickname">ชื่อเล่น</label>
                  <input type="text" name="nickname" :class="{ 'form-control': true, 'is-invalid': $v.form.nickname.$error }" v-model.trim="$v.form.nickname.$model" :disabled="isRegistered" autocomplete="a" />
                </div>
                <div class="form-group col-md-6">
                  <label for="tel">เบอร์โทร</label>
                  <input type="text" name="tel" :class="{ 'form-control': true, 'is-invalid': $v.form.tel.$error }" v-model.trim="$v.form.tel.$model" v-mask="['0#-###-####','0##-###-####']" autocomplete="a" :disabled="isRegistered" />
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="email">อีเมล</label>
                  <input type="text" name="email" :class="{ 'form-control': true, 'is-invalid': $v.form.email.$error }" v-model.trim="$v.form.email.$model" autocomplete="a" :disabled="isRegistered" />
                </div>
                <div class="form-group col-md-6">
                  <label for="occupation">อาชีพ</label>
                  <input type="text" name="occupation" :class="{ 'form-control': true, 'is-invalid': $v.form.occupation.$error }" v-model.trim="$v.form.occupation.$model" :disabled="isRegistered" />
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-12">
                  <label for="description">"ทำไมคุณถึงต้องการมาเป็นแขกในค่ำคืนสำคัญในการกลับมาของโค้ชพลบนเวทีนี้"</label>
                  <textarea name="description" :class="{ 'form-control': true, 'is-invalid': $v.form.description.$error }" v-model.trim="$v.form.description.$model" :disabled="isRegistered"></textarea>
                </div>
              </div>

              <div class="action-container">
                <button type="submit" class="btn btn-primary" v-show="!isRegistered">ส่งคำตอบ</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { Header, LoginView } from "../../components";
import { mask } from 'vue-the-mask';
import swal from 'sweetalert2';
import { mapActions } from "vuex";
import store from "../../store";
import { getAsync } from "../../utils";

import { required, email, helpers } from 'vuelidate/lib/validators'

export default {
  data() {
    return {
      hasAuthorized: false,
      userId: '',
      isRegistered: false,
      form: {
        firstname: '',
        lastname: '',
        nickname: '',
        tel: '',
        email: '',
        occupation: '',
        description: ''
      }
    };
  },
  validations: {
    form: {
      firstname: { required },
      lastname: { required },
      nickname: { required },
      tel: { required },
      email: { required, email },
      occupation: { required },
      description: { required }
    }
  },
  methods: {
    ...mapActions(["showLoading"]),
    onLoginSuccess: async function(userData) {
      this.showLoading(false);
      this.hasAuthorized = true;
      this.userId = userData.id;
    },
    onSubmit: function () {
      this.$v.$touch()
      if (this.$v.$invalid) {
        swal({
          title: 'กรุณากรอกข้อมูลให้ครบถ้วน',
          type: 'error'
        });
      } else {
        swal({
          title: 'กรุณายืนยันการลงทะเบียน',
          html: 'ท่านต้องการลงทะเบียนด้วยข้อมูลที่ท่านกรอกใช่หรือไม่<br />(ข้อมูลไม่สามารถกลับมาแก้ไขใหม่ในภายหลังได้)',
          type: 'warning',
          showCancelButton: true,
          cancelButtonText: 'ยกเลิก',
          confirmButtonText: 'ยืนยันการลงทะเบียน'
        }).then(result => {
          if (result.value) {
            this.submitData();
          }
        })
      }
    },
    submitData: async function() {
      const submitData = {
        user_id: this.userId,
        firstname: this.form.firstname,
        lastname: this.form.lastname,
        nickname: this.form.nickname,
        email: this.form.email,
        tel: this.form.tel,
        occupation: this.form.occupation,
        description: this.form.description,
      }

      this.showLoading(true);
      let { result: postEventRegisterResult, error: postEventRegisterError } = await getAsync(
        axios.post(`/event/register`, submitData)
      );
      this.showLoading(false);

      if (postEventRegisterError || !postEventRegisterResult.data.success) {
        if (postEventRegisterResult.data.error && postEventRegisterResult.data.error === 'duplicated user id') {
          swal({
            title: 'คุณได้ทำการลงทะเบียนไปแล้ว',
            text: 'คุณได้ทำการลงทะเบียนไปแล้ว ไม่สามารถทำการลงทะเบียนซ้ำได้',
            type: 'error'
          })
        } else {
          swal({
            title: 'เกิดข้อผิดพลาด',
            text: 'ไม่สามารถลงทะเบียนได้ในขณะนี้ กรุณามาลงทะเบียนใหม่ในภายหลัง',
            type: 'error'
          })
        }
        return;
      }
      this.isRegistered = true;
      swal({
        title: 'การลงทะเบียนเสร็จเรียบร้อยแล้ว',
        html: 'หลังจากลงทะเบียนเรียบร้อยแล้ว ผู้ที่ได้รับบัตรเข้าชมงานแสดง จะได้รับอีเมลยืนยันและ QR Code ภายในวันที่ 20 ตุลาคม 2561<br />กรุณาเช็คข้อความตอบรับเข้าร่วมงานทางอีเมลที่ท่านได้แจ้งไว้',
        type: 'success'
      })
    }
  },
  beforeRouteEnter: async (to, from, next) => {
    const userData = store.state.users.userData;
    // Not Login
    if (!userData) {
      next(vm => {
        vm.hasAuthorized = false;
      })
      return;
    }

    let { result: eventRegisterResult, error: eventRegisterError } = await getAsync(axios.get(`/users/${userData.id}/event/register`));
    if (eventRegisterError || !eventRegisterResult.data.success) {
      swal({
        title: 'เกิดข้อผิดพลาด',
        text: 'ไม่สามารถดึงข้อมูลการลงทะเบียนได้ กรุณาเข้ามาใหม่ในภายหลัง',
        type: 'error'
      });
    }

    if (eventRegisterResult.data.data) {
      const registerData = eventRegisterResult.data.data;
      next(vm => {
        vm.hasAuthorized = true;
        vm.userId = userData.id;
        vm.isRegistered = true;
        vm.form.firstname = registerData.firstname
        vm.form.lastname = registerData.lastname
        vm.form.nickname = registerData.nickname
        vm.form.tel = registerData.tel
        vm.form.email = registerData.email
        vm.form.occupation = registerData.occupation
        vm.form.description = registerData.description
      });
      return;
    }

    next(vm => {
      vm.hasAuthorized = false;
      vm.userId = userData.id;
    });
  },
  components: {
    Header,
    LoginView
  },
  directives: {
    mask
  }
}
</script>
