<template>
  <div>
    <Header />

    <div class="container">
      <img src="/imgs/goalclass.png" class="goalclass-logo" />

      <div class="lesson-content">
        <div  class="lesson-left-content">
          <div class="lesson-content-header">
            <h4 class="lesson-title" v-if="lessonData">{{ lessonData.title }}</h4>
            <div class="action-container">
              <button class="btn" @click="onClickGoLessonList">บทเรียนทั้งหมด</button>
            </div>
          </div>
          <LessonContent :lesson="lessonData" @answer="onClickAnswer"></LessonContent>
        </div>

        <div class="lesson-right-content">
          <div class="lesson-answer-comment-title-container">
            <div class="student-name-container">
              <h4 class="student-name" v-if="lessonUserData">{{ lessonUserData.name }}</h4>
            </div>
            <div class="action-container">
              <button class="btn" @click="onClickGoStudentList">รายชื่อนักเรียน</button>
            </div>
          </div>
          <lesson-comment
            v-if="lessonUserData && lessonData"
            ref="lessonComment"
            :owner-user-id="String(lessonUserData.id)"
            :user-data="userData"
            :lesson-data="lessonData">
          </lesson-comment>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Header, LessonContent, LessonComment } from "../../components";
import { getAsync } from "../../utils";
import store from "../../store";

export default {
  data() {
    return {
      lessonUserData: undefined,
      lessonData: undefined
    };
  },
  computed: {
    userData() {
      return store.state.users.userData;
    }
  },
  methods: {
    onClickGoLessonList() {
      this.$router.push({ name: "LessonList" });
    },
    onClickGoStudentList() {
      this.$router.push({ name: "StudentList" });
    },
    onClickAnswer() {
      this.$refs.lessonComment.setFocusCommentInput();
    }
  },
  beforeRouteEnter: async (to, from, next) => {
    let { result: getLessonResult, error: getLessonError } = await getAsync(
      axios.get(`/lessons/${to.params.alias}/all`)
    );
    if (getLessonError || getLessonResult.data.success === 0) {
      next('/404');
      return;
    }

    let { result: getUserResult, error: getUserError } = await getAsync(
      axios.get(`/users/${to.params.student}`)
    );
    if (getLessonError || getUserResult.data.success === 0) {
      next('/404');
      return;
    }

    next(vm => {
      vm.lessonUserData = getUserResult.data.data;
      vm.lessonData = getLessonResult.data.data;
    });
  },
  components: {
    Header,
    LessonContent,
    LessonComment
  }
};
</script>
